<%- partial('partials/nav.ejs', {location: 'home'}) %>

<% var days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']; %>
<% var sessions = ['AM', 'PM', 'Eve']; %>
<% var months = ['September', 'October', 'November', 'December', 'January',
    'February', 'March', 'April', 'May', 'June', 'July', 'August']; %>

<div class="container">
	<h1><%= year %>/<%= year+1 %></h1>
	<div class="row">
		<table class="table table-bordered table-striped" id="monthCalendar">
			<thead>
				<tr>
					<th>Month</th>
					<% for (var i = 0; i < days.length; i++) { %>
						<th colspan="3"><%= days[i] %></th>
					<% } %>
				</tr>
			</thead>
			<tbody align="left">
				<tr>
					<th></th>
					<% for (var i = 0; i < days.length; i++) { %>
						<% for (var j = 0; j < sessions.length; j++) { %>
							<th><%= sessions[j] %></th>
						<% } %>
					<% } %>
					<% for (var i = 0; i < months.length; i++) { %>
						<tr>
							<th><%= months[i] %></th>
							<% for (var j = 0; j < days.length; j++) { %>
								<% for (var k = 0; k < 3; k++) { %>
									<% if (calendar[i][j][k] > 12) { %>
										<td bgcolor="#F95E76">
									<% } else { %>
										<td>
									<% } %>
									<%= calendar[i][j][k] %></td>
								<% } %>
							<% } %>
						</tr>
					<% } %>
				</tr>
			</tbody>
		</table>
		<div class="container">
			<ul class="pager">
				<li class="previous"><a href="?year=<%= year-1 %>">
					<span class="glyphicon glyphicon-chevron-left"></span>
					<%= year-1 %>/<%= year %>
				</a></li>
				<li class="next"><a href="?year=<%= year+1 %>">
					<%= year+1 %>/<%= year+2 %>
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a></li>
			</ul>
		</div>
	</div>
</div>
