<%- partial('partials/nav.ejs', {location: 'income'}) %>

<% var months = ['September', 'October', 'November', 'December', 'January',
    'February', 'March', 'April', 'May', 'June', 'July', 'August']; %>

<div class="container">
	<h1><%= year %>/<%= year+1 %></h1>
	<div class="row">
		<table class="table table-bordered table-striped" id="incomeCalendar">
			<thead>
				<tr>
					<% for (var i = 0; i < months.length; i++) { %>
						<th><%= months[i] %></th>
					<% } %>
				</tr>
			</thead>
			<tbody align="left">
				<tr>
					<% for (var i = 0; i < months.length; i++) { %>
						<th><%= monthlyIncome[i] %></th>
					<% } %>
				</tr>
			</tbody>
		</table>
		<div class="container">
			<ul class="pager">
				<li class="previous"><a href="?year=<%= year-1 %>">
					<span class="glyphicon glyphicon-chevron-left"></span>
					<%= year-1 %>/<%= year %>
				</a></li>
				<li class="next"><a href="?year=<%= year+1 %>">
					<%= year+1 %>/<%= year+2 %>
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a></li>
			</ul>
		</div>
	</div>
</div>

<head>
	<style>
		body {
			background-color: #ccefff;
		}

		h1 {
			color: #4CAF50;
			margin-left: 40px;
		} 
		table {
			border-collapse: collapse;
			width: 100%;
		}

		th, td {
			text-align: left;
			padding: 8px;
		}

		tr:nth-child(even){background-color: #ccffcc}
		tr:nth-child(odd){background-color: linen}

		th {
			background-color: #4CAF50;
			color: white;
		}
	</style>
</head>