<%- partial('partials/nav.ejs', {location: 'student'}) %>

<div class="container">
    <h1><%= student.name %></h1>
    <p id="student-id" hidden><%= student.id %></p>
    <div class="row">
        <table class="table table-bordered table-striped" id="student-info-table">
            <tbody align="left">
                <tr>
                    <th>Birthdate</th>
                    <td><%= student.birthday %></td>
                </tr>
                <tr>
                    <th>Parent/Guardian Name 1</th>
                    <td><%= student.parent1 %></td>
                </tr>
                <tr>
                    <th>Parent/Guardian Name 2</th>
                    <td><%= student.parent2 %></td>
                </tr>
                <tr>
                    <th>Parent/Guardian Phone Number</th>
                    <td><%= student.parentPhone1 %></td>
                </tr>
                <tr>
                    <th>Alternate Phone Number</th>
                    <td><%= student.parentPhone2 %></td>
                </tr>
                <tr>
                    <th>Physician Name</th>
                    <td><%= student.physician %></td>
                </tr>
                <tr>
                    <th>Physician Phone Number</th>
                    <td><%= student.physicianPhone %></td>
                </tr>
                <tr>
                    <th>Date Enrolled</th>
                    <td><%= student.startDate %></td>
                </tr>
                <tr>
                    <th>Date Left</th>
                    <td><%= student.endDate %></td>
                </tr>
            </tbody>
        </table>   
        <div style="clear:both;"></div>
        <h2>Current Weekly Schedule</h2>
        
        <table class="table table-bordered table-striped" id="time-period-table">
            <tbody>
                <th>Rate Schedule</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tbody>
        </table>
        <table class="table table-bordered table-striped" id="current-weekly-schedule">
        </table>
        <h2>Future Weekly Schedules</h2>
        
        <table class="table table-bordered table-striped" id="future-time-period-table">
            <tbody align="left">
            </tbody>
        </table>

        <h2>Past Weekly Schedules</h2>
        
        <table class="table table-bordered table-striped" id="past-time-period-table">
            <tbody align="left">
            </tbody>
        </table>
    </div>
    <div class="container">
        <button type="button"><a href="/addtimeperiod/<%= student.id %>">Add Time Period</a><button>
    </div>
</div>
