<%- partial('partials/nav.ejs', {location: 'student'}) %>

<div class="container">
    <h1><%= student.name %></h1>
    <div class="row">
        <table class="table table-bordered table-striped" id="student-info-table">
            <tbody align="left">
                <tr>
                    <th>Birthdate</th>
                    <td><%= student.birthday %></td>
                </tr>
                <tr>
                    <th>Parent/Guardian Name 1</th>
                    <td><%= student.parent1 %></td>
                </tr>
                <tr>
                    <th>Parent/Guardian Name 2</th>
                    <td><%= student.parent2 %></td>
                </tr>
                <tr>
                    <th>Parent/Guardian Phone Number</th>
                    <td><%= student.parentPhone1 %></td>
                </tr>
                <tr>
                    <th>Alternate Phone Number</th>
                    <td><%= student.parentPhone2 %></td>
                </tr>
                <tr>
                    <th>Physician Name</th>
                    <td><%= student.physician %></td>
                </tr>
                <tr>
                    <th>Physician Phone Number</th>
                    <td><%= student.physicianPhone %></td>
                </tr>
                <tr>
                    <th>Rate Schedule</th>
                    <%
                        formatRateSchedules = function(rateSchedules) {
                            var string = '';
                            if (!rateSchedules) {
                                return string;
                            }
                            for (var i = 0; i < rateSchedules.length; i++) {
                                string += rateSchedules[i].name;
                                if (i < rateSchedules.length-1) {
                                    string += ', ';
                                }
                            }
                            return string;
                        }
                    %>
                    <td><%= formatRateSchedules(student.rateSchedules) %></td>
                </tr>
                <tr>
                    <th>Date Enrolled</th>
                    <td><%= student.startDate %></td>
                </tr>
                <tr>
                    <th>Date Left</th>
                    <td><%= student.endDate %></td>
                </tr>
            </tbody>
        </table>   
        <div style="clear:both;"></div>
        <h2>Weekly Schedule</h2>
        <table class="table table-bordered table-striped">
            <tbody align="left">
                <tr id="asa-monday-row">
                    <th>Monday</th>
                    <td><%= student.rateSchedules[0].monday %></td>
                    <td class="asa-table-cell"></td>
                </tr>
                  <tr id="asa-tuesday-row">
                    <th>Tuesday</th>
                    <td><%= student.rateSchedules[0].tuesday %></td>
                    <td class="asa-table-cell"></td>
                </tr>
                  <tr id="asa-wednesday-row">
                    <th>Wednesday</th>
                    <td><%= student.rateSchedules[0].wednesday %></td>
                    <td class="asa-table-cell"></td>
                </tr>
                  <tr id="asa-thursday-row">
                    <th>Thursday</th>
                    <td><%= student.rateSchedules[0].thursday %></td>
                    <td class="asa-table-cell"></td>                    
                </tr>
                  <tr id="asa-friday-row">
                    <th>Friday</th>
                    <td><%= student.rateSchedules[0].friday %></td>
                    <td class="asa-table-cell"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>